*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.vagrant
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
dist
pids
logs
results
npm-debug.log
node_modules
.boilerstack